# Application
APP_ENV=develoment
APP_DEBUG=false
APP_BASE_PATH=/api

# Database
DB_HOST=mysql
DB_NAME=app_db
DB_USER=app_user
DB_PASS=app_password
DB_PORT=3306

# JWT
JWT_SECRET=841FF56EC5D8297C7D79287C8DEAE
JWT_EXPIRATION=3600
JWT_ISSUER=premios-clicc
JWT_AUDIENCE=premios-clicc-users

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=notificaciones@domain.org
SMTP_PASS=********
SMTP_ENCRYPTION=ssl
SMTP_FROM_ADDRESS=dacostadesarrollo@gmail.com
SMTP_FROM_NAME=dacostadesarrollo

# Logger
LOGGER_NAME=app-php
LOGGER_PATH=/var/www/html/logs/app.log
LOGGER_LEVEL=debug

# PayU
PAYU_TEST=1
PAYU_MERCHANT_ID=508029
PAYU_ACCOUNT_ID=512321
PAYU_ACTION=https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu
PAYU_API_KEY=4Vj8eK4rloUd272L48hsrarnUA
PAYU_RESPONSE_URL=/api/payments/method/payu/responseUrl
PAYU_CONFIRMATION_URL=/api/payments/method/payu/confirmationUrl
